@font-face {
  font-family: HelveticaNowRegular;
  font-display: swap;
  src: url(fonts/HelveticaNowTextRegular-font.woff2);
  font-style: normal;
}

@font-face {
  font-family: HelveticaNowMicroRegular;
  font-display: swap;
  src: url(fonts/HelveticaNowMicroRegular-font.woff2);
  font-style: normal;
}

@font-face {
  font-family: Urbane;
  font-display: swap;
  src: url(fonts/UrbaneMedium-font.woff2);
  font-style: normal;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: "Urbane",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-weight: 500;
  line-height: 1.2;
}
  

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #271E2C;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
